<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knight Trevails</title>
</head>
<body>
  <nav>
    <h1>Knight Trevails</h1>
    <div>
      <button>Clear</button>
    </div>
    <div class="legend">
      <span class="start"></span>
      Start
    </div>
    <div class="legend">
      <span class="final"></span>
      Final
    </div>
  </nav>
  <main>
    <div id="board">
      <div id="row0">
        <div id="[0,0]" class="cell black"></div>
        <div id="[0,1]" class="cell"></div>
        <div id="[0,2]" class="cell black"></div>
        <div id="[0,3]" class="cell"></div>
        <div id="[0,4]" class="cell black"></div>
        <div id="[0,5]" class="cell"></div>
        <div id="[0,6]" class="cell black"></div>
        <div id="[0,7]" class="cell"></div>
      </div>
      <div id="row1">
        <div id="[1,0]" class="cell"></div>
        <div id="[1,1]" class="cell black"></div>
        <div id="[1,2]" class="cell"></div>
        <div id="[1,3]" class="cell black"></div>
        <div id="[1,4]" class="cell"></div>
        <div id="[1,5]" class="cell black"></div>
        <div id="[1,6]" class="cell"></div>
        <div id="[1,7]" class="cell black"></div>
      </div>
      <div id="row2">
        <div id="[2,0]" class="cell black"></div>
        <div id="[2,1]" class="cell"></div>
        <div id="[2,2]" class="cell black"></div>
        <div id="[2,3]" class="cell"></div>
        <div id="[2,4]" class="cell black"></div>
        <div id="[2,5]" class="cell"></div>
        <div id="[2,6]" class="cell black"></div>
        <div id="[2,7]" class="cell"></div>
      </div>
      <div id="row3">
        <div id="[3,0]" class="cell"></div>
        <div id="[3,1]" class="cell black"></div>
        <div id="[3,2]" class="cell"></div>
        <div id="[3,3]" class="cell black"></div>
        <div id="[3,4]" class="cell"></div>
        <div id="[3,5]" class="cell black"></div>
        <div id="[3,6]" class="cell"></div>
        <div id="[3,7]" class="cell black"></div>
      </div>
      <div id="row4">
        <div id="[4,0]" class="cell black"></div>
        <div id="[4,1]" class="cell"></div>
        <div id="[4,2]" class="cell black"></div>
        <div id="[4,3]" class="cell"></div>
        <div id="[4,4]" class="cell black"></div>
        <div id="[4,5]" class="cell"></div>
        <div id="[4,6]" class="cell black"></div>
        <div id="[4,7]" class="cell"></div>
      </div>
      <div id="row5">
        <div id="[5,0]" class="cell"></div>
        <div id="[5,1]" class="cell black"></div>
        <div id="[5,2]" class="cell"></div>
        <div id="[5,3]" class="cell black"></div>
        <div id="[5,4]" class="cell"></div>
        <div id="[5,5]" class="cell black"></div>
        <div id="[5,6]" class="cell"></div>
        <div id="[5,7]" class="cell black"></div>
      </div>
      <div id="row6">
        <div id="[6,0]" class="cell black"></div>
        <div id="[6,1]" class="cell"></div>
        <div id="[6,2]" class="cell black"></div>
        <div id="[6,3]" class="cell"></div>
        <div id="[6,4]" class="cell black"></div>
        <div id="[6,5]" class="cell"></div>
        <div id="[6,6]" class="cell black"></div>
        <div id="[6,7]" class="cell"></div>
      </div>
      <div id="row7">
        <div id="[7,0]" class="cell"></div>
        <div id="[7,1]" class="cell black"></div>
        <div id="[7,2]" class="cell"></div>
        <div id="[7,3]" class="cell black"></div>
        <div id="[7,4]" class="cell"></div>
        <div id="[7,5]" class="cell black"></div>
        <div id="[7,6]" class="cell"></div>
        <div id="[7,7]" class="cell black"></div>
      </div>
    </div>
  </main>
</body>
</html>