<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knight Trevails</title>
</head>
<body>
  <nav>
    <h1>Knight Trevails</h1>
    <div>
      <button>Clear</button>
    </div>
    <div class="legend">
      <span id="start"></span>
      Start
    </div>
    <div class="legend">
      <span id="final"></span>
      Final
    </div>
  </nav>
  <main>
    <div id="board">
      <div id="row0">
        <div id="a0" class="cell black"></div>
        <div id="b0" class="cell"></div>
        <div id="c0" class="cell black"></div>
        <div id="d0" class="cell"></div>
        <div id="e0" class="cell black"></div>
        <div id="f0" class="cell"></div>
        <div id="g0" class="cell black"></div>
        <div id="h0" class="cell"></div>
      </div>
      <div id="row1">
        <div id="a1" class="cell"></div>
        <div id="b1" class="cell black"></div>
        <div id="c1" class="cell"></div>
        <div id="d1" class="cell black"></div>
        <div id="e1" class="cell"></div>
        <div id="f1" class="cell black"></div>
        <div id="g1" class="cell"></div>
        <div id="h1" class="cell black"></div>
      </div>
      <div id="row2">
        <div id="a2" class="cell black"></div>
        <div id="b2" class="cell"></div>
        <div id="c2" class="cell black"></div>
        <div id="d2" class="cell"></div>
        <div id="e2" class="cell black"></div>
        <div id="f2" class="cell"></div>
        <div id="g2" class="cell black"></div>
        <div id="h2" class="cell"></div>
      </div>
      <div id="row3">
        <div id="a3" class="cell"></div>
        <div id="b3" class="cell black"></div>
        <div id="c3" class="cell"></div>
        <div id="d3" class="cell black"></div>
        <div id="e3" class="cell"></div>
        <div id="f3" class="cell black"></div>
        <div id="g3" class="cell"></div>
        <div id="h3" class="cell black"></div>
      </div>
      <div id="row4">
        <div id="a4" class="cell black"></div>
        <div id="b4" class="cell"></div>
        <div id="c4" class="cell black"></div>
        <div id="d4" class="cell"></div>
        <div id="e4" class="cell black"></div>
        <div id="f4" class="cell"></div>
        <div id="g4" class="cell black"></div>
        <div id="h4" class="cell"></div>
      </div>
      <div id="row5">
        <div id="a5" class="cell"></div>
        <div id="b5" class="cell black"></div>
        <div id="c5" class="cell"></div>
        <div id="d5" class="cell black"></div>
        <div id="e5" class="cell"></div>
        <div id="f5" class="cell black"></div>
        <div id="g5" class="cell"></div>
        <div id="h5" class="cell black"></div>
      </div>
      <div id="row6">
        <div id="a6" class="cell black"></div>
        <div id="b6" class="cell"></div>
        <div id="c6" class="cell black"></div>
        <div id="d6" class="cell"></div>
        <div id="e6" class="cell black"></div>
        <div id="f6" class="cell"></div>
        <div id="g6" class="cell black"></div>
        <div id="h6" class="cell"></div>
      </div>
      <div id="row7">
        <div id="a3" class="cell"></div>
        <div id="b3" class="cell black"></div>
        <div id="c3" class="cell"></div>
        <div id="d3" class="cell black"></div>
        <div id="e3" class="cell"></div>
        <div id="f3" class="cell black"></div>
        <div id="g3" class="cell"></div>
        <div id="h3" class="cell black"></div>
      </div>
    </div>
  </main>
</body>
</html>